@model KutuphaneOtomasyonSistemi.Models.Üye

@{
    ViewData["Title"] = "Yeni Üye Ekle";
}

<h1>Yeni Üye Ekle</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="ÜyeID" />

        <label asp-for="TCKimlikNo" class="control-label"></label>
        <input asp-for="TCKimlikNo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TelefonNo" class="control-label"></label>
        <input asp-for="TelefonNo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Eposta" class="control-label"></label>
        <input asp-for="Eposta" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Adres" class="control-label"></label>
        <input asp-for="Adres" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Durum" class="control-label"></label>
        <input asp-for="Durum" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
